@model IEnumerable<BookingHotelSearchViewModel.Result>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    double score;
}

<h1>Booking Hotel Reservasyon Sayfası</h1>

<h3>Arama Yapıplan Şehir: Paris/Fransa</h3>


<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Otel Adı</th>
        <th>Otel Puanı</th>
        <th>Otel Değerlendirmesi</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model.Where(x => x.reviewScore != 0))
    {
        count++;

        <tr>
            <td>@count</td>
            <td>@item.name</td>
            @{
                score = double.Parse(item.reviewScore.ToString()) / 10;
            }
          
            <td>@score</td>
            @{
                if (item.reviewScoreWord == "Very good")
                {
                    <td>Çok İyi</td>
                }

                if (item.reviewScoreWord == "Good")
                {
                    <td>İyi</td>
                }

                if (item.reviewScoreWord == "Fabulous")
                {
                    <td>Harika</td>
                }

                if (item.reviewScoreWord == "Superb")
                {
                    <td>Mükemmel</td>
                }
            }
           @* <td>@item.reviewScoreWord</td>*@

            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>

