
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Hakkımızda</h2>
         
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- /about-6-->
<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        <div class="ab-section text-center">
            <h6 class="sub-title">Hakkımızda</h6>
            <h3 class="hny-title">Dünyanın her yerinde anılar biriktirmek için seyahat etmek.</h3>
            <p class="py-3 mb-3">
                Keşfetmek için uzun bir seyahat boyunca yeni deneyimlerin tadını çıkarmak harika bir his.Yeni deneyimlerle dolu uzun bir seyahatte hayatın keyfini çıkarmak harika.
            </p>
            <a href="services.html" class="btn btn-style btn-primary">Daha Fazlasını Oku</a>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <img src="~/Traversal-Liberty/assets/images/banner3.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- //about-6-->
<!-- /content-6-->
<section class="w3l-content-6 py-5">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-lg-6 content-6-left pr-lg-5">
                <h6 class="sub-title">Neden Bizi Seçmelisiniz?</h6>
                <h3 class="hny-title">Hayat, konfor alanınızın sonunda başlar.</h3>
            </div>
            <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                <p class="mb-3">
                    Seyahat etmek, dünyanın farklı bölgelerinde eşsiz deneyimler yaşamanızı sağlar. Kültürel zenginlikler, tarihi mekanlar ve nefes kesen doğal güzellikler arasında keşif yapın.
                </p>
                <p class="mb-3">
                    Seyahat, yeni insanlarla tanışma ve farklı perspektifler kazanma fırsatı sunar. Yolculuklarınız sırasında anılar paylaşacak, arkadaşlıklar kuracak ve dünya çapında bağlantılar kuracaksınız.
                </p>
                <a href="services.html" class="btn btn-style btn-primary mt-4">Daha Fazlasını Oku</a>
            </div>
        </div>
    </div>
</section>
<!-- //content-6-->
<section class="w3l-grids1">
    <div class="hny-three-grids py-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-md-4 col-sm-6 mt-0 grids5-info">
                    <a href="#url"><img src="assets/images/g1.jpg" class="img-fluid" alt=""></a>
                    <h5>Lorem</h5>
                    <h4><a href="#url">Yatırımcı İlişkileri</a></h4>
                    <p>Yatırım fırsatları hakkında daha fazla bilgi almak ve işbirliği olanaklarını keşfetmek için bizimle iletişime geçebilirsiniz.</p>
                </div>
                <div class="col-md-4 col-sm-6 mt-sm-0 mt-5 grids5-info">
                    <a href="#url"><img src="assets/images/g2.jpg" class="img-fluid" alt=""></a>
                    <h5>Lorem</h5>
                    <h4>
                        <a href="#url">
                            Dikkatle Ortak Olun
                        </a>
                    </h4>
                    <p>Size değerli iş ortaklıkları ve uzun vadeli başarı için dikkatle ortaklık fırsatları sunuyoruz.</p>
                </div>
                <div class="col-md-4 col-sm-6 mt-md-0 mt-5 grids5-info">
                    <a href="#url"><img src="assets/images/g3.jpg" class="img-fluid" alt=""></a>
                    <h5>Lorem</h5>
                    <h4><a href="#url">Müşteri Hizmetleri</a></h4>
                    <p>İhtiyaçlarınızı karşılamak ve sorularınıza cevap vermek için müşteri hizmetleri ekibimiz sizleri bekliyor.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- stats -->
<section class="w3l-statshny py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
        <div class="w3-stats-inner-info">
            <div class="row">
                <div class="col-lg-4 col-6 stats_info counter_grid text-left">
                    <span class="fa fa-smile-o"></span>
                    <p class="counter">1730</p>
                    <h4>Happy Customers</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid1 text-left">
                    <span class="fa fa-users"></span>
                    <p class="counter">730</p>
                    <h4>Custom Products</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-left">
                    <span class="fa fa-database"></span>
                    <p class="counter">30</p>
                    <h4>branches</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
