<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Bir yorum bırakın</h4>
    <p class="mb-4">
        İşaretli alanları doldurmanız gerekmektedir.
    </p>
@*    <h3>Destination ID: @ViewBag.destID</h3>*@
    <form method="post" asp-action="AddComment" asp-controller="Comment">
        <input type="hidden" name="DestinationID" value="@ViewBag.destID" />
        <h2>Kullanıcı ID: @ViewBag.userID</h2>
        <div class="form-group">
            <textarea name="CommentContent" class="form-control" placeholder="Yorumunuz*" required=""
                      spellcheck="false"></textarea>
        </div>
        <div class="submit text-right">
            <button class="btn btn-style btn-primary"> Yorum Yap </button>
        </div>
    </form>
</div>